{% extends 'master_template.html' %}


{% block content %}

<style>

.form_field
{
 width:500px;
 height:30px;	
}

</style>

<div class="box">
<h2>Register Here!!!</h2>
<font color="blue">{{output}}</font>
<form method="post" action="/register/" >
{% csrf_token %}	
<table cellspacing="30" >
<tr>
<td>Name</td>
<td><input type="text" class="form_field" name="name" placeholder="Enter Name"/></td>	
</tr>
<tr>
<td>Email</td>
<td><input type="email" class="form_field" name="email" placeholder="Enter Email"/></td>	
</tr>
<tr>
<td>Password</td>
<td><input type="password" class="form_field" name="password" placeholder="Enter Password"/></td>	
</tr>
<tr>
<td>Mobile</td>
<td><input type="text" class="form_field" name="mobile" placeholder="Enter Mobile"/></td>	
</tr>
<tr>
<td>Address</td>
<td><textarea rows="5" cols="60" name="address" placeholder="Enter Address"></textarea></td>	
</tr>
<tr>
<td>City</td>
<td><select name="city" class="form_field" >
	<option>Select City</option>
	<option>Indore</option>
	<option>Bhopal</option>
	<option>Ujjain</option>
</select></td>	
</tr>
<tr>
<td>Gender</td>
<td>
<input type="radio" name="gender" value="male"/> Male
<input type="radio" name="gender" value="female"/> Female
</td>	
</tr>
<tr>
<td colspan="2">
<center>
<button type="submit">Register</button>
</center>
</td>	
</tr>
</table>
</form>

</div>
{% endblock content %}