{% extends 'master_template.html' %}

{% block header %}	
<div id="logo">
    <h1><a href="#">Tender</a></h1>
</div>
<div id="slogan">
    <h2>Welcome Admin : {{sunm}}</h2>
</div>
{% endblock header %}

{% block nav %}
<ul>
    <li class="first" ><a href="/myadmin/">Admin Home</a></li>
    <li><a href="/myadmin/manageusers/">Manage Users</a></li>
    <li>
        <span class="opener">Manage Category<b></b></span>
        <ul>
            <li><a href="/myadmin/addcategory/">Add Category</a></li>
            <li><a href="/myadmin/addsubcategory/">Add SubCategory</a></li>
        </ul>
    </li>
    <li>
        <span class="opener">Settings<b></b></span>
        <ul>
            <li><a href="/myadmin/epadmin/">Edit profile</a></li>
            <li><a href="/myadmin/cpadmin/">Change Password</a></li>
        </ul>
    </li>
    <li class="last"><a href="/login/">Logout</a></li>
</ul>
{% endblock nav %}


{% block slider %}
{% endblock slider %}

{% block page %}
<h1>Welcome to Admin panel</h1>	
{% endblock page %}

{% block pagebottom %}
{% endblock pagebottom %}